body {
background-color: #e5e5e5;
font: 12pt Helvetica, sans-serif;
}


/* .bgImgContainer {
background-image: url('./pictures/NagatoroPhone.png');
background-size: contain;
resize: both;
width: 360px;
height: 640px;
background-repeat: no-repeat;
position: relative;
display: flex;
align-items: stretch;
} */

#wrapper {
display: flex;
}

.icons {
display: flex;
flex-direction: column bv;
}